%% deps directory
{lib_dirs, ["deps"]}.

{deps, [
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.8"}}}
]}.

{pre_hooks, [
    {clean, "rm -rf _build/ priv/"},
    {compile, "mkdir -p _build"},
    {compile, "sh -c 'cd _build && LDFLAGS= CXXFLAGS= cmake ../c_src/ -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../priv/ -GNinja'"},
    {compile, "cmake --build _build --target erlang_tls"},
    {compile, "cmake --build _build --target install"},
    {eunit, "mkdir -p .eunit"},
    {eunit, "cp -r test/server.* test/certs .eunit/"},
    {eunit, "cmake --build _build --target test_compile"},
    {eunit, "cmake --build _build --target test"}
]}.

{erl_opts, [warn_missing_spec_all, warn_untyped_record, warn_unused_import,
    warn_export_vars, warn_export_all]}.

{eunit_compile_opts, [nowarn_missing_spec_all, nowarn_untyped_record,
    nowarn_unused_import, nowarn_export_vars, nowarn_export_all]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
