{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks,
  [{compile, "mkdir -p _build/boringssl _build/etls"},
   {compile, "sh -c 'cd _build/boringssl && [ -f CMakeCache.txt ] || cmake -Wno-dev -DCMAKE_POSITION_INDEPENDENT_CODE=True -DCMAKE_BUILD_TYPE=Debug -GNinja ../../boringssl'"},
   {compile, "sh -c 'cd _build/etls && [ -f CMakeCache.txt ] || cmake -DCMAKE_BUILD_TYPE=Debug -GNinja ../../c_src'"},
   {compile, "cmake --build _build/boringssl --target crypto --target ssl"},
   {compile, "cmake --build _build/etls"},
   {compile, "cp -f _build/etls/libetls_*.so priv/"}]}.

{post_hooks,
  [{clean, "rm -rf _build priv/libetls_*.so"}]}.
