{pre_hooks, [
    {clean, "rm -rf _build/ priv/"},
    {compile, "mkdir -p _build"},
    {compile, "sh -c 'cd _build && CC=clang CXX=clang++ LDFLAGS= CXXFLAGS= cmake ../c_src/ -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../priv/ -GNinja'"},
    {compile, "cmake --build _build"},
    {compile, "cmake --build _build --target install"},
    {eunit, "mkdir -p .eunit"},
    {eunit, "cp test/server.* .eunit/"},
    {eunit, "cmake --build _build --target test"}
]}.
